@import "variables";

.menu-btn__icon {
  font-weight: 500;
}

.sidebar {
  z-index: 1100;
  position: fixed !important;
  margin-left: calc(-1 * $sideBarSize - 50px);
  transition: 0.4s;
  height: 100vh;
  width: $sideBarSize;
  background-color: white;
}

.main-container {
  transition: 0.4s;
}

.sidebar.active {
  margin-left: 0;
}

.main-container.active {
  margin-left: $sideBarSize;
}

@media (max-width: $md-breakpoint) {
  .main-container.active {
    margin-left: 0;
  }
}

/*Inner sidebar Style*/
.profile-picture img {
  object-fit: cover;
  border-radius: 50%;
}

.side-menu > li:hover {
  background-color: $light-blue;
}

#sidebar > ul:nth-child(4) > li > i,
#sidebar > ul:nth-child(4) li a {
  color: red;
}

//This is a test to try to use images from scss
.mio {
  //background: url('../img/lion-profile.jpg');
  border: 1px solid red;
}
