$font-family-sans-serif: 'poppins', sans-serif;

$primary: #3370fd;
$light: #fafafa;
$dark: #08255e;
$border-radius: 30px;
$accordion-color: #fff;
$accordion-button-active-color: transparentize(#fff, 0.3);
$md-breakpoint: 768px;

//Sidebar variables
$sideBarSize : 290px;
$light-blue: #d1dcfe;
$gray-300: #dee2e6;
