$primary: #3370fd;
$light: #fafafa;
$dark: #08255e;

$font-family-sans-serif: 'poppins', sans-serif;

@import "~bootstrap/scss/bootstrap";

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}



.menu-btn:active,
.menu-btn:hover,
.menu-btn {
	border: none;
	background-color: #fff0;
	box-shadow: none;
}
