$primary: #3370fd;
$light: #fafafa;
$dark: #08255e;
$border-radius: 30px;
$accordion-color: white;
$md-breakpoint: 768px;


//Sidebar variables
$sideBarSize : 290px;
$light-blue: #d1dcfe;
$gray-300: #dee2e6;

