@inherits HeaderBase
    <header class="w-100 bg-white border-bottom">
        <nav class="d-flex flex-row-reverse flex-md-row">
			<button class="menu-btn m-4 text-center">
				<i class="bi bi-list" style="font-size: 50px"></i>
			</button>
            @if (index != "true")
            {
            <Tabs></Tabs>
            }
        </nav>
    </header>
