@inherits MenuOptionBase

    <li class="nav-item d-flex m-2 px-2 align-items-center rounded">
      <i class="@icon mx-2"></i>
      <a class="nav-link text-dark pl-4 flex-fill ms-2" href="#">@text</a>
    </li>
