<nav class="navbar navbar-expand d-flex flex-column align-item-start sidebar active" id="sidebar" >
<div class="container p-3">
  <div class="profile-picture">
    <img src="assets/img/lion-profile-picture-76801.jpg" width="50px" height="50px" alt="">
  </div>
  <div class="logo">
    <img src="assets/img/nufi-logo-min.png" width="120px" alt="">
  </div>
</div>
</nav>
