<div class="tabs container align-items-center m-4 text-center">
  <ul class="nav nav-pills tabs-container">
    <li class="nav-item nav-item-tabs">
      <a class="nav-link nav-link-tabs active" href="#">General</a>
    </li>
    <li class="nav-item nav-item-tabs">
      <a class="nav-link nav-link-tabs" href="#">Antecedentes Judiciales</a>
    </li>
    <li class="nav-item nav-item-tabs">
      <a class="nav-link nav-link-tabs" href="#">Representantes Legales</a>
    </li>
    <li class="nav-item nav-item-tabs">
      <a class="nav-link nav-link-tabs" href="#">Socios Físicos</a>
    </li>
    <li class="nav-item nav-item-tabs">
      <a class="nav-link nav-link-tabs" href="#">Socios Morales</a>
    </li>
    <li class="nav-item nav-item-tabs">
      <a class="nav-link nav-link-tabs" href="#">Adjuntos</a>
    </li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown">
    <li><a class="dropdown-item" href="#">General</a></li>
    <li><a class="dropdown-item" href="#">Antecedentes Judiciales</a></li>
    <li><a class="dropdown-item" href="#">Representantes Legales</a></li>
    <li><a class="dropdown-item" href="#">Socios físicos</a></li>
    <li><a class="dropdown-item" href="#">Socios morales</a></li>
    <li><a class="dropdown-item" href="#">Adjuntos</a></li>
  </ul>
</div>