@page
@using Nufi.kyb.v1.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section sidebar{
@(await Html.RenderComponentAsync<Sidebar>(RenderMode.ServerPrerendered))
	}

@section header{
@(await Html.RenderComponentAsync<Header>(RenderMode.ServerPrerendered))
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
	<a class="btn btn-primary" href="#toogle1" data-bs-toggle="collapse">Desplegar</a>
	<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">copia</a>
    <div id="toggle1" class="collapse">
      <p>Este es el contenido</p>
    </div>
<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
